:root {
  /* Primary colors */
  --primary-light-cyan: hsl(193, 38%, 86%);
  --primary-neon-green: hsl(150, 100%, 66%);

  /* Neutral colors */
  --neutral-grayish-blue: hsl(217, 19%, 38%);
  --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
  --neutral-dark-blue: hsl(218, 23%, 16%);
}

/* Global styling */
body {
  font-family: 'Marope', sans-serif;
  font-weight: 800;
  background-color: var(--neutral-dark-blue);
  margin: 0;
  padding: 0;
}

body section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Mobile first styling */
.box {
  border-radius: 15px;
  position: relative;
  text-align: center;
  background-color: var(--neutral-dark-grayish-blue);
  margin: 0 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  width: 100vw;
}

.advice_number_text {
  color: var(--primary-neon-green);
  font-size: 0.7rem;
  letter-spacing: 3px;
}

.advice_text_box {
  height: auto;
}

.advice_text {
  color: var(--primary-light-cyan);
  margin: 1.8rem;
  line-height: 2rem;
}

.separator {
  content: url('/images/pattern-divider-mobile.svg');
  margin-bottom: 4rem;
}

.dice {
  position: absolute;
  bottom: -2rem;
  background-color: var(--primary-neon-green);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 30px;
  transition: all 150ms ease;
  border: none;
}

.dice:hover {
  cursor: pointer;
  transition: all 150ms ease;
  box-shadow: 1px 1px 14px 0px var(--primary-neon-green);
}

.attribution {
  color: white;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.attribution>a {
  text-decoration: none;
  color: var(--primary-neon-green);
}

@media screen and (min-width: 31rem) {
  .box {
    max-width: 31rem;
  }
}

/* Desktop style */
@media screen and (min-width: 90rem) {
  .box {
    max-width: 33.75rem;
  }

  .separator {
    content: url('/images/pattern-divider-desktop.svg');
  }
}